@media(max-width: 1199px) {
    .contact-us {
        padding: 70px 0;
    }
    .drop-office {
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }
    .inner-drop-office h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .featured-content h5 {
        font-size: 20px;
        line-height: 26px;
    }
    .featured-content p {
        margin-bottom: 10px;
    }
    .inner-drop-office h2 {
        margin-bottom: 10px;
    }
    .featured-icon.icon-white {
        padding: 10px 0 0;
    }
    .our-services .card-body p {
        font-size: 15px;
        line-height: 20px;
    }
    .right-testimonial .owl-dots {
        left: -245px;
        bottom: 50px;
    }
    .testimonial-inner::before {
        content: '';
        bottom: 108px;
    }
    .testimonial-section1 h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .footer-sec2 {
        margin-top: 0;
    }
    #service-slider button.owl-next span:before, #service-slider button.owl-prev span:before{
        display: none;
    }
}
@media(max-width: 992px) {
    .testimonial-section1 h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .testimonial-inner::before {
        content: '';
        bottom: 128px;
    }
    #service-slider .owl-nav {
        display: none;
    }
    .nav-items .nav-item-list li {
        padding: 0 15px;
        font-size: 13px !important;
        line-height: 24px !important;
    }
    #service-slider .col-md-3{
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .our-services .card-body p {
        margin-bottom: 10px;
    }

}
@media(max-width: 991px) {
    .about-us h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .service-des {
        margin-top: 30px;
    }
    .testimonial-inner::before {
        display: none;
    }
    .service-table {
        margin: 10px 0 30px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 46px;
    }
    section.our-services {
        margin: 30px 0 0;
    }
    .testimonial-section1 {
        padding: 30px 0 50px;
    }
    .testimonial-section1 h2 {
        margin-bottom: 40px;
    }
    .contact-us iframe {
        width: 510px;
    }
    .second-nav{
        display: block;
    }
    .sidenav {
        height: 100%;
        width: 0;
        z-index: 120;
        position: absolute;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #a4d388;
        overflow-y: auto;
        display: block;
        max-width: 320px;
        min-height: 100vh;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .jumbotron p {
        margin-bottom: 10px;
        font-size: 18px!important;
        font-weight: 200;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 48px!important;
        line-height: 44px!important;
    }
    .terms p {
        margin-bottom: 15px;
    }
}
@media(max-width: 768px) {
    .banner-section,.banner-section2,.banner-section3 {
        min-height: 470px;
    }
    .contact-us {
        padding: 50px 0;
    }
    .copyright-menu ul li {
        margin-right: 10px;
        padding-right: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .inner-drop-office h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .featured-content h5 {
        font-size: 18px;
        line-height: 24px;
        margin-top: 0;
    }
    .nav-items .nav-item-list li {
        padding: 0 10px;
    }
    ul.inner-list li {
        font-size: 16px;
        line-height: 20px;
    }
    .copyright-menu {
        padding: 15px 0;
    }
    .footer-content h6 {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .footer-content {
        padding: 30px 0 20px;
    }
    .logo-img {
        width: 10%;
        height: 60px;
    }

}
@media(max-width: 767px) {
    .col-10.col-lg-8.blurb {
        flex: 100%;
        max-width: 100%;
    }
    .new-about{
        flex-direction: column-reverse;
        display: flex;
    }
    .row.about-content {
        padding-top: 30px;
    }
    .about-us-inner .lead {
        margin-bottom: 30px;
    }
    .about-us-inner {
        padding-bottom: 30px;
    }
    .about-us h2 {
        margin-bottom: 10px;
    }
    .service-des {
        margin-top: 20px;
    }
    section#gallery {
        margin: 30px 0;
    }
    .gallery-sec {
        padding: 30px 0;
    }
    section.our-services {
        margin: 20px 0 0;
    }
    .service-table {
        margin: 20px 0 20px;
    }
    .testimonial-section1 h2 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    div#service-slider .owl-dots {
        display: none;
    }
    .testimonial-section1 h2 {
        margin-bottom: 25px;
        margin-top: 20px;
        font-size: 26px;
        line-height: 34px;
    }
    .our-services .card-body {
        height: 100%;
    }
    .drop-office {
        margin-left: 0;
        margin-top: 20px;
        padding-bottom: 25px;
    }
    .contact-us {
        padding: 30px 0;
    }
    .banner-section,.banner-section2,.banner-section3 {
        min-height: 300px;
    }
    .contact-us {
        padding: 0 0 30px;
    }
    .banner-content {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        transform: translateY(100%);
        height: 100px;
    }
    .banner-content h1 {
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }
    .service-table h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .service-table h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .service-table p {
        font-size: 14px;
        line-height: 22px;
    }
    .our-services .card-body h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .our-services .card-body p {
        font-size: 14px;
        line-height: 18px;
    }
    .our-services .card {
        margin-bottom: 20px;
    }
    .testimonial-section1 {
        padding: 20px 0 40px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .custom-list{
        padding-bottom: 35px;
    }
    .nav-items ul{
        display: none;
    }
    .filter-icon{
        display: block;
    }
    .sidenav-inner {
        padding: 30px 0;
    }

}
@media(max-width: 600px) {
    .logo-img {
        width: 15%;
        height: 70px;
    }
}
@media(max-width: 576px) {
    section#header {
        min-height: 200px;
    }
    .copyright-menu {
        padding: 10px 0;
    }
    .banner-content {
        left: 0;
    }
    .footer-content h6 {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 30px!important;
        line-height: 36px!important;
    }
    .jumbotron p {
        font-size: 16px!important;
        line-height: 22px;
    }
    .jumbotron {
        padding: 0!important;
    }

}
@media(max-width: 480px) {
    .about-us .row.align-items-center.content {
        margin-right: 0!important;
        margin-left: 0!important;
        margin: 0 0!important;
    }
    .row.about-content {
        padding-top: 20px;
    }
    .about-us-inner .lead {
        margin-bottom: 20px;
    }
    .about-us h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .about-us-inner .lead {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
    }
    .about-us h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 5px;
    }
    .service-des {
        margin-top: 15px;
    }
    section#gallery {
        margin: 20px 0;
    }
    .gallery-sec ul.pages {
        margin-top: 0px;
    }
    .gallery-sec {
        padding: 20px 0;
    }
    .sidenav {
        max-width: 230px;
    }
    section.our-services {
        margin: 15px 0 0;
    }
    .service-table {
        margin: 10px 0 15px;
    }
    .testimonial-section1 h2 {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .testimonial-section1 {
        padding: 15px 0 35px;
    }
    .service-table h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .testimonial-section1 h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .banner-content {
        left: 0;
    }
    .contact-us iframe {
        width: 380px;
    }
    .logo-img {
        width: 20%;
        height: 70px;
    }
}
@media(max-width: 400px) {
    .about-us h2 {
        font-size: 17px;
        line-height: 22px;
    }
    .row.about-content {
        padding-top: 25px;
    }
    .inner-drop-office h2 {
        font-size: 22px;
        line-height: 26px;
        margin-top: 0;
    }
    .social-icons img {
        width: 40px;
        height: 40px;
    }
    .banner-section,.banner-section3,.banner-section2{
        min-height: 300px;
    }
    .banner-content {
        left: 0;
    }
    .banner-content h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .logo-img {
        width: 30%;
        height: 70px;
    }
    .copyright-menu ul li {
        margin-right: 5px;
        padding-right: 5px;
    }
    .contact-us iframe {
        width: 300px;
    }
    .list-item li {
        padding: 0 10px 0 0;
    }
    .terms h4 {
        font-size: 14px;
        line-height: 22px;
    }
    .jumbotron h1, .jumbotron .h1 {
        font-size: 26px!important;
        line-height: 30px!important;
    }
    p.copyright {
        font-size: 12px;
        line-height: 18px;
    }
}
