@font-face
{
    font-family: "BalsamiqSans-Bold";
    src: url('../fonts/BalsamiqSans-Bold.ttf');
}
@font-face
{
    font-family: "BalsamiqSans-Regular";
    src: url('../fonts/BalsamiqSans-Regular.ttf');
}
@font-face
{
    font-family: "Spartan-Bold";
    src: url('../fonts/Spartan-Bold.ttf');
}

@font-face {
    font-family: "Spartan-SemiBold";
    src: url('../fonts/Spartan-SemiBold.ttf');
}

@font-face {
    font-family: "Spartan-Light";
    src: url('../fonts/Spartan-Light.ttf');
}

@font-face {
    font-family: "Spartan-Regular";
    src: url('../fonts/Spartan-Regular.ttf');
}

@font-face {
    font-family: "Spartan-Medium";
    src: url('../fonts/Spartan-Medium.ttf');
}
header {
    top: 0;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
    left: 0;
    right: 0;
    position: sticky;
    overflow: auto;
    background-color: #ffffff;
    z-index: 999;
}
blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #5c5e61;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.conText{
    margin: 0;
    color: #383737;
    text-align: center;
}
.Display{
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: cursive;
    color: #5c5e5f;
}
.subtitle{
    margin-bottom: 1rem;

    font-size: 1.25rem;
    font-family: cursive;
}
.main-nav{
    display: flex;
    justify-content: space-around;
}
.nav-items li {
    padding: 0 20px;
    list-style: none;
}
.enrol_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.enrol_btn button {
    background-color: #00486a;
    padding: 10px 35px;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    outline: 0;
    transition: all 1s ease;
}
.enrol_btn button:hover{
    background-color: #0097cd;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items ul, .footer-link-right ul {
    display: inline-flex;
    margin: 0;
}
.nav-items .nav-item-list li {
    padding: 0 20px;
    list-style: none;
}
.nav-items .nav-item-list li {
    padding: 0 20px;
    list-style: none;
    font-size: 14px!important;
    line-height: 24px!important;
    color: #222222;
    font-family: Spartan-Regular;
    cursor: pointer;
}
.nav-items .nav-item-list li a{
    padding-bottom: 10px;
    color: #888585;
    -webkit-transition: all 0.1s ease 0s;
}
.nav-items li a:hover {
    border-bottom: 1px solid #004d72;
    text-decoration: none!important;
    padding-top: 10px;
    border-top: 1px solid #004d72;
}
.gallery li a, .sub-sec li a{
    border-bottom: none!important;
}
.banner-section {
    background-image: url(og-export-terminal.jpg);
    background-color: #0097cd;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    height: 100%;
}

.banner-content {
    position: absolute;
    left: 0;
    top: 50px;
}
.banner-content h1 {
    color: #ffffff;
    font-size: 57px;
    line-height: 60px;
    font-family: Spartan-Bold;
}
ul.banner-list li {
    list-style: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 0;
    list-style: disc;
    font-family: Spartan-Regular;
}
.banner-button {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
}
button.learn-more, button.buy-theme{
    padding: 20px 40px;
    font-size: 16px;
    line-height: 20px;
    outline: 0;
}
button.learn-more {
    background-color: #319ce3;
    color: #ffffff;
    border: 1px solid #319ce3;
    margin-right: 30px;
}
button.buy-theme {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.service-table h2 {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    color: #333333;
    margin: 0;
    font-family: 'Spartan-Bold';
}
.service-table p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #737373;
    font-family: 'Spartan-Regular';
}
.service-table {
    margin: 30px 0 30px;
}
.spanner-image {
    text-align: center;
}
.spanner-image img {
    width: 5%;
}
.our-services .card-head img {
    width: 25%!important;
    padding: 40px 0 5px;
}
.our-services .card-head, .our-services .card-body{
    text-align: center;
}
.our-services .card-body {
    height: 100vh;
}
.our-services .card-body h4 {
    font-size: 18px;
    line-height: 22px;
    color:#8bc34b;
    font-family: 'Spartan-Regular';
    margin-bottom: 15px;
}
.our-services .card-body p {
    font-size: 15px;
    color: #868686;
    line-height: 20px;
    font-family: 'Spartan-Light';
}
.our-services .card {
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 5px;
    max-height: 320px;
}
section.our-services {
    margin: 30px 0 30px;
    background-color: #f7f7f7;
}
ul.sub-sec, .gallery ul {
    display: block;
    position: fixed;
    top: 66px;
    width: 240px;
    background: #ffffff;
    border-top: 2px solid #00ace5;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%)!important;
    transition: all 700ms ease;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transform: translateY(100%);
    border-radius: 5px;
}
.course:hover > ul.sub-sec, .gallery:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.course:hover >  ul{
    opacity: 1;
    visibility: visible;
}
.sub-sec li, .gallery li{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}
.sub-sec li:hover, .gallery li:hover{
    background-color: #00beef;
}
.sub-sec li:hover > ul.sub-sec{
    top: 0;
}
.sub-sec li:hover > a, .gallery li:hover > a{
    color: #ffffff!important;
}
.sub-sec a, .gallery a{
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #292929;
    text-decoration: none!important;
}
.main-nav img {
    width: 8%;
}
.home-banner.owl-theme .owl-dots .owl-dot{
    outline: none!important;
}
/*hover*/
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
/*end of hover*/
.home-banner .card-head {
    display: flex;
    justify-content: center;
}
#service-slider button.owl-prev span:before {
    position: absolute;
    top: calc(50% - 4px);
    left: 20px;
    content: '';
    border: solid #09c0ef;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 15px;
    transform: rotate(137deg);
}
#service-slider .owl-nav {
    font-size: 100px;
    color: transparent;
    display: block;
}
#service-slider button.owl-prev {
    position: absolute;
    top: 15%;
    left: -50px;
    outline: none!important;
}
#service-slider button.owl-next span:before {
    transform: rotate(-45deg);
    left: -20px;
    position: absolute;
    top: 85%;
    content: '';
    border: solid #09c0ef;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 15px;
}
#service-slider button.owl-next {
    position: absolute;
    top: 0;
    /* right: -30px; */
    right: -50px;
    outline: none!important;
}
.footer-section{
    background-color : #0194cb;
}
.footer-content h2 {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    padding: 30px 0;
}
.footer-content .col-md-3{
    text-align: center;
}
.footer-content h6 {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}
.footer-content p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: 'Spartan-Regular';
}
.footer-content li {
    list-style: none;
    line-height: 22px;
    font-size: 18px;
}
.footer-content ul {
    padding: 0;
}
ul.inside-list {
    display: inline-flex;
}
ul.inside-list li {
    padding-right: 20px;
}
ul.inside-list li:last-child{
    padding-right: 0;
}
ul.inner-list li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding-right: 0;
}
ul.social-icons {
    display: inline-flex;
    text-align: center;
}
ul.social-icons li {
    margin-right: 20px;
}
ul.social-icons li:last-child{
    margin-right: 0;
}
ul.social-icons {
    display: inline-flex;
    padding: 0;
}
.social-icons img {
    background-color: #005179;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.footer-content h6 {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
section#people-saying {
    width: 100%;
    float: left;
    padding: 30px 0;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E3E3E3;
}
.testimonial-section {
    display: flex;
}
.testimonial-section img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.comment-outer {
    width: calc(100% - 130px);
    float: left;
}
.testimonial-section h2.new-h2 {
    margin-bottom: 30px;
    color: #171E55;
    font-size: 30px;
}
.comment-section {
    display: flex;
    width: 100%;
    float: left;
}
#people-saying .owl-carousel .owl-item img {
    display: block;
    width: 100px;
    height: 150px;
    min-width: 100px;
}
.comment-contents h2 {
    color: #2B7EC4;
    font-size: 18px;
    font-weight: normal;
}
.comment-contents h3 {
    color: #161F56;
    font-size: 12px;
    font-weight: normal;
}
.comment-contents p {
    color: #161F56;
    font-size: 14px;
    font-weight: normal;
}
#people-saying .owl-nav {
    margin-left: 100px;
}

#people-saying .owl-carousel .owl-nav button.owl-next, #people-saying .owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 30px;
    width: 30px;
    outline: none;
}
#people-saying #counter {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 295px;
    font-size: 12px;
    color: #171E55;
}
#counter span.index {
    color: #FF8D27;
    padding: 0 5px;
}
#counter span.count {
    padding: 0 5px;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #009EE2;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #009EE2;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #009EE2;
    }
  }



  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
.testimonial-section1 {
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
    background-color: #f5f6fb;
}
.testimonial-section1 h2{
    color: #30355d;
    font-size: 40px;
    line-height: 38px;
    font-weight: 600;
    font-family: 'Spartan-Bold';
}
.testimonial-section1 h2::before {
    background-color: #0eb0ee;
}
.test-avatar {
    display: table-cell;
    width: 90px;
    vertical-align: top;
}
.test-avatar img {
    height: auto;
    width: 70px;
    max-width: 70px;
    padding: 0;
    border-radius: 50%;
}
.main-test {
    position: relative;
    padding-bottom: 22px;
}
.main-test::before {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0eb0ee;
}
.testimonial-inner::before{
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    position: absolute;
    bottom: 132px;
    left: 15px;
    background-color: #0eb0ee;
}
.test-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Spartan-Regular';
}

.designation {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #0eb0ee;
}
.test-description p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #95a2b3;
    padding-top: 20px;
    font-family: 'Spartan-Light';
}
.owl-carousel.owl-loading {
    opacity: 1!important;
    display: block;
}
.right-testimonial button.owl-dot {
    outline: none;
}
.right-testimonial .owl-dots {
    position: absolute;
    left: -294px;
    bottom: 35px;
}
.right-testimonial .owl-theme .owl-dots .owl-dot.active span,
.right-testimonial .owl-theme .owl-dots .owl-dot:hover span {
    background: #004b6c!important;
}
.first-footer-content h3,.footer-sec2 h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Spartan-Bold';
}
.footer-second span {
    color: #ffffff!important;
    font-family: 'Spartan-Bold';
}
.footer-second li {
    color: rgba(255,255,255,0.75);
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Spartan-Regular';
}
.footer-second p {
    position: relative;
    color: rgba(254,254,254,0.76);
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.714;
    margin-bottom: 1.42857em;
    text-transform: uppercase;
}
.footer-second .email-adress, .footer-second .email-adress:focus {
    background-color: #ffffff;
    color: #888585;
    height: 39px;
    font-size: 12px;
    line-height: 20px;
    width: 262px;
    padding: 0 20px;
    border: 1px solid #004e76;
    outline: none;
    font-family: 'Spartan-Light';
}

.footer-second .newslettersubmit {
    background-color: #004e76;
    border: 1px solid #004e76;
    box-shadow: none;
    color: #fff;
    height: 40px;
    left: 245px;
    padding: 0 13px;
    position: absolute;
    right: auto;
    top: 86px;
    cursor: pointer;
    font-family: 'Spartan-Bold';
}
.first-footer-content img{
    max-width: 40%;
}
.copyright-menu ul {
    display: flex;
}
.copyright-menu ul li {
    list-style: none;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #ffffff;
    display: inline-block;
    line-height: 12px;
    color: #ffffff;
    font-family: 'Spartan-Regular';
}
.copyright-menu ul li:last-child{
    border: none;
}
.footer-sec2 {
    text-align: center;
    margin-top: 30px;
}
.copyright-menu {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.copyright-menu p {
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 22px;
}
.footer-content {
    padding: 50px 0;
    display: flex;
}
p.copyright {
    padding: 10px 0 50px;
    color: #004a6a;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'Spartan-Regular';
}
li.course a:hover {
    color: #3fb9df;
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
